@charset "UTF-8";
.graphic-row{
	max-height: 17vw;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.graphic-row:hover {
	transform: scale(1.02);
}
#graphic-con {
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: center;
	background-color: #2E3B56;
}
@media only screen and (max-width : 1000px){
	#graphic-con{
		padding-left: 13vw;
		padding-right: 13vw;
	}
	.graphic-row {
		max-height: 20vw;
	}
}
@media only screen and (max-width : 500px){
	#graphic-con{
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.graphic-row {

		max-height: 40vw;
	}
	.graphic-hide {
		display: none;
	}
}