@charset "UTF-8";
/* CSS Document */
:root {
	--text-color-white: #EDEFFB;

	--text-color-black: #353536;

	--background-color: #2E3B56;

	--dark-color: #1B2636;

	--white-color: #e5eefd;
}

body{
	padding: 0;
	background-color: var(--white-color);
	margin: 0;
}

#hide {
	display: block;
	position: relative;;
	padding-bottom: 82px !important;
	background-color: var(--dark-color);
}

.normal-text {
	background-color:#282828;
	color: var(--text-color-white);
	line-height: 22px;
	letter-spacing: 1px;
	padding: 200px 0;
	position: relative;
	font-family: helvetica, serif;
}
.normal-text p {
	margin-left: 100px;
}

@media only screen and (max-width : 700px){
	.normal-text p {
		margin-left: 0 !important;
		text-align: center;
	}
}

#contact-form-thanks {
	position: relative;
	color: var(--text-color-white);
	font-family: helvetica, serif;
}

a {
	text-decoration: none;
}

#menu-scroll img:hover{
	transform: scale(1.05);
}
#menu-scroll a:hover {
	transform: scale(1.05);
	text-decoration: underline;
}

#menu-scroll:visited {
	color: var(--text-color-white);
	text-decoration: none;
}

#menu-scroll {
	padding-bottom: 78px;
	transition:0.3s;
	z-index: 15;
	position: fixed;
	display: block;
	overflow: auto;
	white-space: nowrap;
	font-size: 18px;
	background-color: var(--dark-color);
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}
.menutext {	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 0;
	color: var(--text-color-white);
	display:inline-block;
	padding: 10px 25px;
}
.logomenu {
	margin-left: 17px;
	position: absolute;
}
.productsmenu {
	margin-left: 75px;
}
@media only screen and (max-width : 624px){
	#menu {
		display: none !important;
	}
	#menu-scroll {
		display: none !important;
	}
	.sidenav {
		display: inline-block !important;
	}
	.fa-ellipsis-h {
		display: inherit!important;
	}
	#hide {
		display: none !important;
	}
}

.fa-times {
	position: fixed;
	opacity: 1;
	font-size: 35px;
}
.fa-ellipsis-h {
	color: #67828f;
	z-index: 9;
	position: fixed;
	display: none;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 35px;
}

.sidenav {
  display: none;
	font-family: helvetica, serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  white-space: nowrap;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}