
.normal-header {
    margin: 20px 0;
}

.multicore-info {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 55vw;
    margin: auto;
}

.normal-text {
    line-height: 28px;
    font-size: 24px;
}

#logo {
    float: left;
    max-height: 200px;
}

#side-img-phone {
    margin: auto;
    display: none;
    float: right;
    margin-top: 40px;
    margin-left: 10px;
    max-height: 370px;
    border: 8px solid white;
    box-shadow: 0 0 10px rgb(0,0,0, 10%);
}

#side-img {
    float: right;
    margin-left: 10px;
    max-height: 370px;
    border: 8px solid white;
    box-shadow: 0 0 10px rgb(0,0,0, 10%);
}

@media only screen and (max-width: 850px) {
    #logo {
        float: none;
    }

    #side-img-phone {
        margin-left: 0;
        margin-top: 0;
        float: none;
        display: initial;
    }

    #side-img {
        display: none;
    }

    .multicore-info {
        max-width: 70vw;
        text-align: center;
    }

    .normal-text {
        line-height: 25px;
    }

}
