@charset "UTF-8";
.pictures-row{

	max-height: 17vw;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
figure {

	display: inline-block;
	margin: 0;
	padding: 0;
}
.pictures-row:hover {
	transform: scale(1.02);
}
#picture-con {
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: center;
	background-color: #2E3B56;
}
@media only screen and (max-width : 1000px) and (min-width: 500px){
	#picture-con{
		padding-left: 15vw;
		padding-right: 15vw;
	}
	.pictures-row {
		max-height: 23vw;
	}
}
@media only screen and (max-width : 500px){
	#picture-con{
		padding-left: 0;
		padding-right: 0;
	}
	.pictures-row {

		max-height: 66vw;
	}
	.phone-hide {
		display: none;
	}
}