@charset "UTF-8";
.pictures-row {
    max-height: 17vw;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.background-img-info-header {
    padding-top: 50vh;
    background: url('../Photo/IMG_4282.jpg') center/ cover no-repeat fixed;
);
}

.normal-text a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: rgba(237, 239, 251, 0.4);
}

figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pictures-row:hover {
    transform: scale(1.02);
}

.video-con {
    min-height: 280px;
    background-color: var(--background-color);
}

@media only screen and (max-width: 330px) {
    .video {
        left: 0 !important;
    }
}

.video {
    display: inline-block;
    padding: 2vw 0;
    z-index: 1;
    aspect-ratio: auto;
    width: 60vw;
    min-width: 300px;
}

#picture-con {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: var(--white-color);
}

.my-gallery {
    z-index: 1;
    background-color: var(--background-color);
    padding: 15px 0;
}

#picture-con .normal-header {
    filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.4));
    background-color: var(--white-color);
    padding: 5vh 0;
}


@media only screen and (max-width: 1000px) and (min-width: 500px) {
    .pictures-row {
        max-height: 20vw;
    }
}

@media only screen and (max-width: 500px) {

    .my-gallery {
        padding: 20px 0;
    }

    .pictures-row {
        max-width: 100vw;
        min-width: 100vw;
        height: auto;
        max-height: none;
    }
}

@media only screen and (max-width: 800px) {
    .background-img-info-header {
        padding-top: 80vh;
        background: url('../Photo/IMG_4569.jpg') center 0 / cover no-repeat fixed;
    );
    }
}